@import '~sass/mixines'; 
@import '~sass/variables'; 
@import '~sass/reset'; 
@import '~sass/fonts'; 
@import '~sass/hacks'; 
.pay
    width: 50%
    +mediaMax320
        max-width: 140px

span
	i
		border: solid $gris
		border-width: 0 1px 1px 0
		padding: 8px
		margin-top: -10px
		width: 0px
		height: 0px
		vertical-align: -webkit-baseline-middle