<div class="flex flex-between">
  <div class="pay">
    <h3 class="bold paddingT_0">Pago con paypal</h3>
    <div class="paddingT_0 width100">
      <img src="./assets/logo-paypal.svg" alt="Paypal">
      <p class="text-align paddingT_25 paddingB_25">Te redirigiremos a la página de Paypal para proceder con el pago.</p>
      <input [(ngModel)]="checkout.deviceFinger" type="hidden">
    </div>
  </div>
  <div *ngIf="showEdit" class="w50 flex flex-end">
    <div class="table paddingL paddingR_0">
      <button routerLink="/formas-pago/guardadas" class="btn-blanco verDesk">Editar</button>
      <a routerLink="/formas-pago/guardadas" class="verMob marginT_64"><span><i class="right gray"> </i></span></a>
    </div>
  </div>
</div>


