<div class="flex flex-between paddingT_25 ">
  <div class="flex w50">
    <div>
      <h3 class="bold paddingT_0" >Monedero Claro shop</h3>
      <div class="paddingT_0 width100 paddingB_20">
        <img src="assets/logo-monedero.svg"   alt="Monedero Claro shop">
      </div>
    </div>
  </div>
  <div *ngIf="showEdit" class="w50 flex flex-end">
    <div class="table paddingL paddingR_0">
      <button routerLink="/formas-pago/guardadas" class="btn-blanco verDesk">Editar</button>
      <a routerLink="/formas-pago/guardadas" class="verMob positionR"><span><i class="positionA top_31 right gray"> </i></span></a>
    </div>
  </div>
</div>

