<app-pathComponent [ruta]="ruta" ></app-pathComponent>
<div class="container width100">
    <div class="borderB white paddingB_22 flex">
        <a routerLink="/formas-pago/guardadas" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
    <!-- <div class="modulo flex padding_10 marginT_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
    </div> -->
</div>


<div class="container minHeight">
    <div class="flex flex-around flex-wrap flex-dir">
        <div class="width60 order1">
            <div class="modulo ">
                <div class="flex">
                    <p class="paddingB_22">Selecciona las mensualidades y el monto</p>
                </div>
                <div *ngFor= "let promo of promocion">
                    <!--div *ngIf="promo.checked" class="flex flex-between marginB_25 positionR">
                        <p class="bold width70 paddingB_10">{{promo.nombre}}</p>
                        <input type="radio" [checked]="promo.active" class="option-input marginR_3 radio" name="meses" (click)="setMensualidad(promo); setIdFormaPago(promo.idFormaPago); setNombreFormaPago(promo.nombre);" />
                    </div-->
                    <div *ngFor= "let promos of promo.datos" class="flex flex-between marginB_25 positionR">
                        <p class="bold width70 paddingB_10 promoDep">{{promo.nombre}}<br/>
                        <span class=" paddingB_10">{{promos.meses}} {{promos.meses > 1 ? 'Pagos mensuales de' : 'Un solo pago de'}} {{promos.mensualidad | number:'1.2-2'}} MXN</span></p>
                        <input type="radio" [checked]="promos.active"class="option-input marginR_3 radio" name="meses" (click)=" setMensualidad(promos); setIdFormaPago(promo.idFormaPago); setNombreFormaPago(promo.nombre);" />
                    </div>
                </div>
                <div class="cont-btn">
                    <button class="btn-rojo text-align" (click)="save()"> Continuar <i class="right"></i></button>
                </div>

            </div>
        </div>
        

         <!-- modulo1 detalle compra-->
         <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden> 

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="modulo flex fixed marginB_0 padding_10 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="save()"  >Continuar<i class="right"></i> </button>
    </div> -->

</div>

