@import '~sass/mixines'; 
@import '~sass/variables';
h3
    line-height: $spacer
.codigoBarras
    max-width: 280px
    width: 100%
.noCodigo
    +mediaMax320
        font-size: 14px
.listaPagos
    li, p
        line-height: $spacer
    span
        &.list-numero
            color: $primario
            border-radius: 50%
            border: 1px solid #444444
            box-sizing: border-box
            font-weight: 400
            height: 30px !important
            padding: 0px
            min-width: 30px
            margin-right: 10px



