@import '~sass/mixines';
@import '~sass/variables';

.container
    width: 100%
.header-caja
    padding-bottom: $min-spacer
    .path
        width: 100%
        margin: auto
        text-align: center
        border-bottom: 3px solid $gris
        padding: 0
        +flex
        li
            +bx
            color: $grisClaro
            width: 33.3%
            padding-bottom: 5px
            &.active
                border-bottom: 3px solid red
                margin-bottom: -3px
                color: $negro

          
