<div class="text-align-left mar">
    <p class="text-azul">
      <span class="bold">A nombre de: </span> {{ formaPago.aNombreDe }}
    </p>
    <p class="text-azul">
      <span class="bold">No. de Cuenta: </span> {{ formaPago.bancoData.NoCuenta }}
    </p>
    <p class="text-azul">
      <span class="bold">CLABE: </span> {{ formaPago.bancoData.clabe }}
    </p>
    <p class="text-azul">
      <span class="bold">No. de Referencia: </span> {{formaPago.numPedido}}
    </p>
    <!--div class="paddingT_25">
      <h4 class="marginT_32 bold text-rojo">IMPORTANTE:</h4>
      <p class="t">En caso de no recibir el pago el día <span class="bold">{{formaPago.fechaInicio}} </span>el pedido será cancelado.</p>
    </div-->
</div>
