<div class="maxWidth600">
  <h3 class="marginB_20 paddingMob">Relacionado a tu navegación</h3>

  <div class="flex flex-wrap flex-between marginAuto">
    <div *ngFor="let product of products" class="width30 marginL_0">
      <div class="cont-img2">
        <a href="{{basePath}}{{product.id}}" [attr.data-scarabitem]="product.id">
            <img src="{{product.imagen}}" class="imgEmarsys" alt="{{product.title}}">
        </a>
      </div>
      <p>{{product.title}}</p>
    </div>
  </div>

</div>
