<div  id="agregarRecomendaciones" class="maxWidth600 margin_0">
  <h3 class="marginB_20 emars">Relacionado a tu navegación</h3>
  <ui-carousel #carousel *ngIf="products?.length > 0" class="flex borderB"
               [infinite]="true"
               [fade]="false"
               [dots]="false"
               [speed]="0"
               [autoPlay]="false"
               [width]="900"
               height="350px" width="100%" >
    <ui-carousel-item *ngFor="let product of products" class="flex whidt30">

      <a href="{{baseUrl}}/producto/{{product.id}}" [attr.data-scarabitem]="product.id">
        <div class="center marginAuto item-e">
          <div style="display: none" #wishlist (click)="addToWishlist($event, product.id)" class="wishlistButton"></div>
          <img src="{{product.imagen}}" class="imgEmarsys" alt="{{product.title}}">
        </div>
        <p class="texto maxHeight">{{product.title}}</p>
        <div *ngIf="product.precioLista  > product.precio"  class="info-producto">
          <div class="precioLista">
            <p>${{ product.precioLista.toLocaleString("en") }}</p>
          </div>
        </div>
        <div class="info-precios">
          <div class="precioDesc">
            <p>${{product.precio.toLocaleString("en")}}</p>
          </div>
          <div *ngIf="( product.c_descuento - 0 ) >= 10" class="descTex">
            <span>-{{product.c_descuento}}%</span>
          </div>
        </div>
        <div (click)="addToCart($event, product.id)"  class="cont-cart" style="display: none">
          <img class="ico-cart" src="assets/cart.png" alt="">
        </div>
      </a>
    </ui-carousel-item>
  </ui-carousel>
</div>
