<app-pathComponent [ruta]="ruta" ></app-pathComponent>

<div class="container width100">
    <div class="borderB white paddingB_22 flex">
        <a href="{{url}}" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
    <!-- <div class="modulo flex padding_10 marginT_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="envio(idDireccion)">Continuar<i class="right"></i> </button>
    </div> -->
</div>

<div class="container minHeight">
    <div class="flex flex-between flex-wrap flex-dir">
        <div class="marginMob width60 order1">
            
            <!-- barra agregar dirección desktop-->
             <div class="modulo padding_25 verDesk">
                <div class="cont-mas">
                    <a class="flex" routerLink="/direcciones/agregar">Agregar nueva dirección<i class="plus marginL_10"></i></a>
                </div>
            </div>
           

            <!-- modulo1 direccion-->
            <div *ngFor="let direccion of direcciones" class="modulo positionR">
                <div class="flex botones">
                    <div class="width100">

                        <!-- <div class="radioRojo positionA paddingL_10">
                            <input type="radio" name="direccionesT"  class="options-rojos marginR_3 radioR" id="envio{{idDireccion}}">
                            <label for="idDireccion"> </label>  
                        </div> -->

                        <div class=" flex paddingB_10 ">
                            <i *ngIf="direccion.accesibilidad == 1" class="star"></i>
                            <p [ngClass]="{'predeterminada': direccion.accesibilidad == 1, 'noPredeterminada': direccion.accesibilidad == 0 }"
                            class="marginL_10 small marginTm5"
                            (click)="default(direccion.id)" >
                            {{ direccion.accesibilidad == 0 ? 'Establecer como predeterminada' : 'Predeterminada'}}
                            </p>
                        </div>


                        <div class="flex">
                            <div class="paddingR_32 width100">
                                <p class="bold">{{direccion.nombre}}</p>
                                <p>{{direccion.direccion}}, {{direccion.numeroExterior}}, {{direccion.colonia}}</p>
                                <p>C.P. {{direccion.codigoPostal}}, {{direccion.municipio}}, {{direccion.estado}}</p>
                                <p>Teléfono: <span>{{direccion.telefono}}</span></p>
                                <!--p>Costo de envío: <span class="bold">$0.00</span></p>
                                <p>Entrega: <span>$</span></p-->
                            </div>
                        </div>

                        
                        <div class="flex padding_10 paddingL_0 paddingR_0 ">
                            <button class="btn-rojo marginB_0" (click)="envio(direccion.id)">Enviar a esta dirección<i class="right"></i></button>
                        </div>
                    </div>
                    <div class="width50 flex flex-end">
                        <div class="table paddingL paddingR_0">
                            <button routerLink="/direcciones/detalle/{{direccion.id}}" class="btn-blanco">Editar</button>
                            <button class="btn-blanco marginR_0" (click)="delete(direccion.id)" >Eliminar</button>
                        </div>
                    </div>
                </div>
                <!--div class="verMob marginT_32">
                    <hr class="hrGris margin_0">
                </div-->

               
               
            </div>

                <!-- barra agregar dirección solo en móvil-->
                <div class="modulo padding_25 marginB_0 verMob " >
                    <div class="cont-mas">
                        <a class="flex" routerLink="/direcciones/agregar">Agregar nueva dirección<i class="plus marginL_10"></i></a>
                    </div>
                </div>
            
        </div>

        <!-- modulo1 detalle compra-->
        <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden> 

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- <div class="modulo flex fixed marginB_0 padding_10 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="envio(idDireccion)">Continuar<i class="right"></i> </button>
    </div> -->
</div>
<app-fraude></app-fraude>




