<app-pathComponent [ruta]="ruta" ></app-pathComponent>

<div class="container width100">
  <div class="borderB white paddingB_22 flex">
      <a routerLink="/formas-pago/guardadas" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
  <div class="modulo sinBack flex padding_20 marginT_0 marginB_0 verMob">
    <button class="btn-rojo text-align marginB_0 padding_20 fontSize_plus" (click)="pagar()" [ngClass]="{'sinAccion': disabled }">Finalizar Pedido<i class="right"></i> </button>
  </div>


</div>
<!--==========================-->
<!-- Finalizar Compra Mobile  -->
<!--==========================-->
<!--div class="verMob">
  <div class="modulo marginT_0 flex center">
    <button class="btn-rojo marginB_0" (click)="pagar()" >Finalizar Compra <i class="right"></i></button>
  </div>
</div-->

<div *ngIf="error" class="container width100 verDesk">
  <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
    <span class="ico-alert"></span>
    <p>{{ error }} <span class="bold"></span></p>
    <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
  </div>
</div>

<div *ngIf="isLoad" class="container" >
  <div class="flex flex-between flex-wrap">
    <div class="width60">
      <div class="marginMob">
          <div class="modulo marginB_0 paddingB_0">
            <!--=======================-->
            <!-- Quien recibe          -->
            <!--=======================-->
            <app-usuario  [nombre] = "nombre"
                          [fechaEstimada] = "fechaEstimada">
            </app-usuario>
          </div>
      </div>

      <!-- <div class="modulo  paddingT_0 paddingB_0">
          <hr class="hrGris">
      </div> -->

      <div class="modulo paddingT_32 verMob marginT_0">
          <h3 class="verMob bold">Resumen de pago</h3>
        <!--=======================-->
        <!-- Totales  Mobile       -->
        <!--=======================-->
          <app-totales class="verMob"></app-totales>
      </div>

      <!-- <div class="modulo  paddingT_0  paddingB_0">
          <hr class="hrGris">
      </div> -->

      <div class="marginMob">
        <div class="modulo modConfirmacion">
          <!--==========================-->
          <!-- Dirección de envío       -->
          <!-- ======78===================-->
          <app-direccion-envio *ngIf="!clickRecoge && isLoadDireccion" [direccion]="direccion" [showEdit]="showEdit"></app-direccion-envio>
          <!--==========================-->
          <!-- Sucursal click recoge    -->
          <!-- =========================-->
          <app-sucursal *ngIf="clickRecoge && isLoadSucursal" [sucursal]="sucursal"></app-sucursal>
        </div>
      </div>

      <div class="modulo paddingT_0 paddingB_0">
          <hr class="hrGris">
      </div>
      <!--========================-->
      <!--  Forma de pago         -->
      <!-- =======================-->
      <div class="marginMob">
        <div class="modulo marginT_0">
          <div class="flex flex-between">
            <div class="width100">
              <h3 class="bold">Información de Pago</h3>
                <!--=============================-->
                <!--  Monedero Claro shop          -->
                <!-- ============================-->
              <app-forma-pago-monedero [showEdit]="showEdit" [multipedido]="multipedido" *ngIf="formaPago === 4466" ></app-forma-pago-monedero>
                <!--=============================-->
                <!--  Depósito Bancario          -->
                <!-- ============================-->
                <app-confirmacion-deposito-bancario [showEdit]="showEdit" *ngIf="formaPago === 4"></app-confirmacion-deposito-bancario>
                <!--=============================-->
                <!--  Departamental              -->
                <!-- ============================-->
                <app-tienda-departamental [showEdit]="showEdit" *ngIf="formaPago === 4450" [multipedido]="multipedido"></app-tienda-departamental>
              <!--=================================================-->
              <!--  Tarjetas de Cŕedito / Debito / Departamentales -->
              <!-- ================================================-->
                <app-detallePago #detallePago
                  *ngIf="formaPago === 3912||
                        formaPago === 344  ||
                        formaPago === 4384 ||
                        formaPago === 4379 ||
                        formaPago === 4375 ||
                        formaPago === 4385 ||
                        formaPago === idFpT1pagos ||
                        formaPago === idFpT1Amex"
                  [tarjeta]="tarjeta"
                  [mensualidad]="mensualidad"
                  [rules]="rules"
                  [checkout]="checkout"
                  [showCode]="showCode"
                  [showEdit]="showEdit"
                  [captcha]="captcha"
                  [idFormaPago] = "idFormaPago"
                  [nombrePromo] = "nombrePromo"
                  [facturacion] = "facturacion"
                  [cvvHelp] = "cvvHelp"
                  (validate)="validateCheckout($event)"
                  [montoPago] = "montoPago"
                  >
                </app-detallePago>
                <!--=============================-->
                <!-- Paypal -->
                <!-- ============================-->
                <app-forma-pago-paypal [showEdit]="showEdit" *ngIf="formaPago === 5" ></app-forma-pago-paypal>
                <!--=============================-->
                <!-- Payu -->
                <!-- ============================-->
                <app-forma-pago-payu [showEdit]="showEdit" *ngIf="formaPago === 1389" [multipedido]="multipedido"></app-forma-pago-payu>
                <!--=============================-->
                <!-- Telmex -->
                <!-- ============================-->
                <app-forma-pago-telmex [showEdit]="showEdit" *ngIf="formaPago === 3158" [multipedido]="multipedido" [mensualidad]="mensualidad"></app-forma-pago-telmex>
                <!--=============================-->
                <!-- Transfer -->
                <!-- ============================-->
                <app-forma-pago-transfer [showEdit]="showEdit" *ngIf="formaPago === 4448" ></app-forma-pago-transfer>
            </div>
          </div>
          <div class="modulo marginT_0 paddingL_0 flex center verDesk padding_0 marginB_18">
            <button class="btn-rojo marginB_0 padding_20 fontSize_plus" (click)="pagar()" [ngClass]="{'sinAccion': disabled }">Finalizar Pedido<i class="right"></i></button>
          </div>
          <!--=============================-->
          <!-- Captcha -->
          <!-- ============================-->
          <app-captcha *ngIf="formaPago === 3912|| formaPago === 344"   [captcha]="captcha" (validate)="validateCheckout($event)"></app-captcha>
        </div>

      </div>

      <div class="modulo paddingT_0 verMob paddingB_0">
          <hr class="hrGris">
      </div>



    </div>
      <div class="modulo verMob padding32 paddingB_50 paddingT_0 marginT_0">
        <!--==================================-->
        <!--  Articulos/Productos Mobile      -->
        <!-- =================================-->
        <app-detalleProductos class="verMob"></app-detalleProductos>
        <!--app-captcha class="verMob"></app-captcha-->
        <!--==========================-->
        <!-- Finalizar Compra Mobile -->
        <!--==========================-->
        <!--div class="btn-compra verMob" >
          <div class="modulo marginT_0 flex center">
            <button class="btn-rojo marginB_0" (click)="pagar()" >Finalizar Compra <i class="right"></i></button>
          </div>
        </div-->
        <div class="modulo verDesk padding32 paddingB_0 paddingT_0">
            <hr class="hrGris margin_0 verMob">
        </div>
        <div *ngIf="error" class="container width100 verMob">
          <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
            <span class="ico-alert"></span>
            <p>{{ error }} <span class="bold"></span></p>
            <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
          </div>
        </div>
      </div>
      <!--==================================-->
      <!--  Detalle Compra Desktop          -->
      <!-- =================================-->
      <div class="width40  widthMob ">
          <div class=" sticky">
              <div class="modulo padding32 paddingB_0 paddingT_0 marginT_0 marginB_0">
                  <!--app-detalleProductos class="verMob"></app-detalleProductos-->
                   <app-detalleCompra class="verDesk"></app-detalleCompra>
                    <!--==========================-->
                    <!-- Finalizar Compra Desktop -->
                    <!--==========================-->
                  <!-- <div class="modulo marginT_0 flex center verDesk marginAuto">
                    <button class="btn-rojo marginB_0" (click)="pagar()" [ngClass]="{'sinAccion': disabled }">Finalizar Compra <i class="right"></i></button>
                  </div>  -->
              </div>
          </div>
      </div>
  </div>
  <div class=" modulo  flex sinBack marginB_0 marginT_0 padding_20 verMob">
    <button class="btn-rojo text-align marginB_0" (click)="pagar()" [ngClass]="{'sinAccion': disabled }">Finalizar Compra<i class="right"></i> </button>
  </div>
</div>


