@import '~sass/mixines';
@import '~sass/variables';
.widthMob
    +mediaMax960
        width: 100%
        max-width: inherit
        .width40
            width: 100%
            max-width: inherit
.btn-compra
    + .modulo
        padding-top: 0px !important

.productoCarrito
  max-width: 100px
  max-height: 120px
  margin: 0px auto auto auto
  border: 1px solid $grisClaro
  padding: 2px
  +bx
  img
    max-width: 80px
    background-size: contain

//-captcha
.captcha
  width: 100%
  max-width: 400px

.modulo
    +mediaMax960
        margin: 10px auto



