<div class="secInformacion" style="background-color: #FFF; border: 0px;" >
  <h3 class="marginT_32 bold text-rojo ">IMPORTANTE:</h3>
      <ul *ngIf="data?.isClickRecoge" >
          <li>Te enviaremos un correo para que recojas tu pedido.</li>
          <li>Tendrás 72 horas naturales para ir por él.</li>
          <li>Recuerda que al momento de recibir los artículos, se solicitará una identificación oficial.</li>
      </ul>
      <ul *ngIf="!data?.isClickRecoge" class="marginB_32">
        <li *ngIf="data?.digitaltipo == 'digital'">{{ data?.msjImportante }} </li>
        <li> Recuerda que al momento de recibir los artículos, se solicitará una identificación oficial.</li>
        <li *ngIf="data?.digitaltipo == 'digital-fisico'">{{ data?.msjImportante }} </li>
      </ul>
</div>
