<app-pathComponent [ruta]="ruta" ></app-pathComponent>
<div class="container width100">
    <div class="flex borderB white paddingB_22 fixT ">
        <a routerLink="{{url}}" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
    <div class="modulo flex sinBack padding_10 marginB_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="setPago(idT, idFormaPago)" >Continuar<i class="right"></i> </button>
    </div>
</div>



<div class="container minHeight">

    <div class="flex flex-between flex-wrap flex-dir">
        <div class="marginMob width60 order1">
             <!-- elegir forma de pago -->
             <div class="modulo padding_25 verDesk">
                    <div class="cont-mas">
                    <a class="flex" routerLink="/formas-pago">Elegir otra forma de pago<i class="plus marginL_10"></i></a>
                </div>
            </div>



            <!-- Lista de tarjetas -->
            <div *ngFor="let tarjeta of tarjetas; let index = index" class="modulo positionR">
                <div class="flex flex-between ">
                    <div class="flex paddingB_10 paddingL_0">
                        <div class="width60 flex">

                            <div class="radioRojo positionA">
                                <input type="radio" name="direccionesT" [checked]="index === 0 ? true : null" (change)="setIdPago(tarjeta.id, tarjeta.idFormaPago)" class="options-rojos marginR_3 radioR" id="envio{{tarjeta.id}}">
                                <label for="envio-{{tarjeta.id}}"> </label>
                            </div>

                            <div class="flex paddingL_16">
                                <i *ngIf="index == 0" class="star"></i>
                                <p (click)="default(tarjeta)"
                                    [ngClass]="{'predeterminada': index == 0, 'noPredeterminada': index != 0 }" >
                                    {{index != 0 ? 'Establecer como predeterminada' : 'Predeterminada'}}
                                </p>
                            </div>
                        </div>
                        <div class="">
                            <div class="widthLogo">
                                <p><img class="marginR_22 positionA" src="{{imageCard(tarjeta.tipo)}}" alt="{{tarjeta.tipo}}"></p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex">
                    <div class="paddingR_32 paddingL_40 width100">

                        <p class="flex flex-between">
                            <span class="bold">{{formatCard(tarjeta.digitos, tarjeta.tipo)}}</span>
                        </p>
                        <p >{{tarjeta.nombre}} {{tarjeta.apellido}}</p>
                      <ng-container *ngIf="tarjeta.tipo !== 'sears' && tarjeta.tipo !== 'sanborns' " >
                        <p >Caduca el {{tarjeta.mes}}/{{tarjeta.anio}}</p>
                      </ng-container>


                    </div>
                    <div class="">
                        <button class="btn-blanco verDesk marginR_0" (click)="edit(tarjeta)">Editar</button>
                        <button class="btn-blanco verDesk marginR_0" (click)="delete(tarjeta)">Eliminar</button>
                    </div>
                </div>
                <!-- <div class="flex padding_10 paddingL_0">
                    <button class="btn-rojo  marginB_0" (click)="setPago(tarjeta.id)" >Continuar<i class="right"></i> </button>
                </div> -->

            </div>

            <!-- elegir forma de pago -->
            <div class="modulo padding_25 verMob">
                    <div class="cont-mas">
                    <a class="flex" routerLink="/formas-pago">Elegir otra forma de pago<i class="plus marginL_10"></i></a>
                </div>
            </div>

            <!-- modulo cupón movil -->
            <div class="container width100 verMob">
                <app-cupon></app-cupon>
            </div>

            <div class="modulo flex sinBack marginB_0 marginT_20 padding_10 ">
                <button class="btn-rojo text-align marginB_0 width50" (click)="setPago(idT, idFormaPago)"  >Continuar<i class="right"></i> </button>
            </div>

        </div>


         <!-- modulo1 detalle compra-->
         <div class="width40  widthMob ">
                <div class="sticky">
                    <div class="marginT_32">
                        <div class="detalleCompra">
                            <label for="btn-producto" class="verMob modulo padding_25 borderB">
                                <div class="flex flex-between ">
                                    <span>Ver detalles de compra </span>
                                    <i class="down"></i>
                                </div>
                            </label>
                            <input type="checkbox" id="btn-producto" hidden>

                            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                                <app-detalleCompra #detalle></app-detalleCompra>
                            </div>
                            <div class="verDesk">
                                    <app-cupon></app-cupon>
                                </div>
                        </div>
                    </div>
                </div>
            </div>



    </div>



</div>

