<!--=======================-->
<!-- Quien recibe -->
<!--=======================-->

<div>
    <p>Entregar a:  <span class="bold"> {{nombre}}</span></p>
    <!--p>Entrega estimada:  <span> {{fechaEstimada}}</span></p-->
</div>
