<div class="modulo flex flex-between marginT_0 marginB_0 padding_0 ">
  <div class="width50">
    <p>Subtotal:</p>
    <p>Costo de envío:</p>
    <p class="bold text-rojo">Total:</p>
  </div>
  <div class="width50 marginRm_5 text-align-right">
    <p>$ {{ detalleCompra?.subtotal | number:'1.2-2'}}</p>
    <p> {{ detalleCompra?.costoEnvio | number:'1.2-2'}}</p>
    <p class="bold text-rojo">$ {{ detalleCompra?.total | number:'1.2-2'}}</p>
  </div>
</div>
