@import '~sass/mixines';
@import '~sass/variables';
@import '~sass/reset';
@import '~sass/fonts';
@import '~sass/hacks';

/* Reset -------------------------------------------------------------------- */
*
  margin: 0
  padding: 0

body
  font-size: 14px

/* OPPS --------------------------------------------------------------------- */

h3
  margin-bottom: 10px
  font-size: 15px
  font-weight: 600
  text-transform: uppercase


.opps
  width: 100%
  border-radius: 4px
  box-sizing: border-box
  padding: 0 20px
  margin: 40px auto
  overflow: hidden
  border: 1px solid lightgray
  font-family: 'Open Sans', sans-serif
  color: #4f5365
  display: flex
  background-color: white
  +mediaMax780
    +flexWrap


.opps-reminder
  position: relative
  top: -1px
  padding: 9px 0 10px
  font-size: 11px
  text-transform: uppercase
  text-align: center
  color: #ffffff
  background: #000000
  display: none

.opps-header
  min-width: 59%
  +mediaMax780
    width: 100%
.opps-info
  margin-top: 26px
  position: relative
  min-height: 160px
  max-width: 327px


.opps-info:after
  visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0


.opps-brand
  width: 45%
  float: left


.opps-brand img
  max-width: 132px
  margin-top: 2px


.opps-ammount
  width: 55%
  float: right
  color: black



.opps-ammount h2
  font-size: 36px
  color: #000000
  line-height: 24px
  margin-bottom: 15px


.opps-ammount h2 sup
  font-size: 16px
  position: relative
  top: -2px


.opps-ammount p
  font-size: 12px
  line-height: 14px
  max-width: 160px

.opps-reference
  margin-top: 14px
  max-width: 324px
  margin-right: 20px
  margin-bottom: 20px

h1
  font-size: 27px
  color: #000000
  text-align: center
  margin-top: -1px
  padding: 6px 0 7px
  border: 1px solid #b0afb5
  border-radius: 4px
  // background: #f8f9fa


.opps-instructions
  margin: 0px -45px 0
  padding: 32px 45px 45px
  // border-top: 1px solid #b0afb5
  background: #f8f9fa
  color: black


ol
  margin: 17px 0 0 0px


li + li
  // margin-top: 10px
  line-height: 20px
  color: #000000


a
  color: #1155cc


.opps-footnote
  margin-top: 22px
  // padding: 22px 20 24px
  color: #108f30
  text-align: center
  border: 1px solid #108f30
  border-radius: 4px
  background: #ffffff
  padding: 5px !important