<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>
<div class="opps">
    <div class="opps-header">
        <div class="opps-reminder">Ficha digital. No es necesario imprimir.</div>
        <div class="opps-info">
            <div class="opps-brand"><img src="assets/oxxopay_brand.png" alt="OXXOPay"></div>
            <div class="opps-ammount">
                <h3>Monto a pagar</h3>
                <h2>$ {{ data?.pedido?.total | number:'1.2-2' }} <sup>MXN</sup></h2>
                <p>OXXO cobrará una comisión adicional al momento de realizar el pago.</p>
            </div>
        </div>
        <div class="opps-reference">
            <h3>Referencia</h3>
            <h1>{{data?.referencia}}</h1>
        </div>
    </div>
    <div class="opps-instructions">
        <h3>Instrucciones</h3>
        <ol>
            <li>1. Acude a la tienda OXXO más cercana</li>
            <!-- <li>1. Acude a la tienda OXXO más cercana. <a href="https://www.google.com.mx/maps/search/oxxo/" target="_blank">Encuéntrala aquí</a>.</li> -->
            <li>2. Indica en caja que quieres realizar un pago de <span class="bold">OXXOPay</span>.</li>
            <li>3. Dicta al cajero el número de referencia en esta ficha para que tecleé directamete en la pantalla de venta.</li>
            <li>4. Realiza el pago correspondiente con dinero en efectivo.</li>
            <li>5. Al confirmar tu pago, el cajero te entregará un comprobante impreso. <span class="bold">En el podrás verificar que se haya realizado correctamente.</span> Conserva este comprobante de pago.</li>
        </ol>
        <div class="opps-footnote">Al completar estos pasos recibirás un correo confirmando tu pago de manera inmediata.</div>
    </div>
</div>
</body>
</html>
