<div class="flex flex-between">
  <div>
    <h3 class="paddingT_0">Transfer</h3>
    <div class="paddingT_0 width100">
      <img src="./assets/logo-transfer.svg" alt="">
      <input [(ngModel)]="checkout.deviceFinger" type="hidden">
    </div>
  </div>
  <div *ngIf="showEdit" class="w50 flex flex-end">
      <div class="table paddingL paddingR_0"> 
        <button routerLink="/formas-pago" class="btn-blanco">Editar</button>
        <a routerLink="/formas-pago/guardadas" class="verMob marginT_64"><span><i class="right gray"> </i></span></a>
      </div>
  </div>
</div>
  