<div class="secInformacion" style="background-color: #FFF; border: 0px;">
    <h3><strong>IMPORTANTE:	</strong></h3>
    <ul *ngIf="data.isClickRecoge">
        <li>Se hará una llamada de confirmación; en caso de no localizarte a más tardar el día <strong>{{ data.pedido.fechaInicio }}</strong>, el pedido será cancelado.</li>
        <li>Las mensualidades serán cargadas en tu próximo recibo Telmex.</li>
        <li>Te enviaremos un correo para que recojas tu pedido.</li>
        <li>Tendrás 72 horas para ir por él.</li>
        <li>Recuerda que al momento de recibir los artículos, se solicitará una identificación oficial, la firma de la documentación de crédito y
            un recibo de tu línea Telmex no mayor a 60 días.</li>
    </ul>
    <ul *ngIf="!data.isClickRecoge">
        <li>Recuerda que al momento de recibir los artículos, se solicitará una identificación oficial y la firma de la documentación de crédito.</li>
        <li>Las mensualidades serán cargadas en tu próximo recibo Telmex.</li>
    </ul>
</div>