
    <div class="error-app">
        <div class="container-app">
            <img class="imgError"src="./assets/error.png" alt="Error" >
            <div class="mensajeError">
                <p class="txtError">Lo sentimos, algo salió mal.</p>
                
            </div>
        </div>
    </div>
