@import '~sass/mixines';



.error-app
	background-color: black
	width: 100vw
	height: 100vh
	z-index: 1000
	top: 0px
	position: absolute
	pointer-events: none

.container-app
	background-color: white
	margin: auto
	width: 280px
	+center(vh)
	.mensajeError
		margin: auto
		padding: 20px
		+bx
		text-align: center
		
		p
			margin: 10px
		img
			width: 100%
			height: 50%
			object-fit: scale-down