<app-pathComponent [ruta]="ruta"  ></app-pathComponent>
<div class="container width100">
    <div class="borderB white paddingB_22 flex">
        <a routerLink="/formas-pago" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
</div>

<div class="modulo width60">
    <div class="text-align padding">
        <img src="./assets/logo-paypal.svg" alt="Paypal">
    </div>
    <p class="text-align">Te redirigiremos a la página de Paypal para proceder con el pago.</p>
    <div class="modulo marginT_0 flex center">
        <button class="btn-rojo marginB_0" href="" target="blank">Aceptar <i class="right"></i></button>
    </div>


</div>
