@import '~sass/mixines'; 
@import '~sass/variables'; 
.logo-telmex
    max-width: 86px
a
    +bx
    position: relative
    p
        margin: 0px
    img
        margin-left: 10px
h3
    color: $azul
ul
    margin-top: $spacer
    li
        padding: $spacer
        +bx
        .imgT
            max-width: 50px
            margin-bottom: 10px
            background-size: contain
        .subtitleT
            color: $azul
        .txtT
            color: $gris