<app-pathComponent [ruta]="ruta"  ></app-pathComponent>

<div class="container width100">
    <div class="flex borderB white paddingB_22 ">
        <a routerLink="/formas-pago" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
    <!-- <div class=" modulo flex padding_10 marginT_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="validate()">Continuar<i class="right"></i> </button>
    </div> -->
</div>
<div class="container minHeight">
    <div *ngIf="message" class="cont-val validacionInfo valRojo">
        <!--p><span class="bold">Importante: </span> {{ message }} </p-->
        <p><span class="bold">Importante: </span> <span [innerHTML]="message"></span> </p>
    </div>
    <div class="flex flex-between flex-wrap flex-dir">
        <div class="marginMob width60 order1">
            <div class="modulo">
                <div class=" paddingB_32">
                    <label class="mesLabel"> Ingresa tus datos Mi Telmex</label>
                </div>
                <div class="form-row">
                    <input [(ngModel)]="direccion.telefono" type="text" [ngClass]="{'error': rules.telefono.error }" on-focusout="validateForm()" minlength="1" maxlength="10">
                    <label data-placeholder="*Teléfono Telmex" alt="Label"></label>
                    <span class="textError" *ngIf="rules.telefono.error">Teléfono a 10 dígitos (LADA y número)</span>
                </div>
                <button class="btn-rojo marginB_0" (click)="validate()">Validar<i class="right"></i></button>
            </div>
        </div>
        <!-- <div class="width40  widthMob ">
            <div class=" sticky">
                <div class="modulo padding32 paddingB_0 paddingT_0">
                    <app-detalleCompra class=""></app-detalleCompra>
                </div>
            </div>
        </div> -->

          <!-- modulo1 detalle compra-->
          <div class="width40  widthMob ">
                <div class="sticky">
                    <div class="marginT_32">
                        <div class="detalleCompra">
                            <label for="btn-producto" class="verMob modulo padding_25 borderB">
                                <div class="flex flex-between ">
                                    <span>Ver detalles de compra </span>
                                    <i class="down"></i>
                                </div>
                            </label>
                            <input type="checkbox" id="btn-producto" hidden> 
    
                            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                                <app-detalleCompra #detalle></app-detalleCompra>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
    <!-- <div class=" modulo flex fixed marginB_0 padding_10 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="validate()">Continuar<i class="right"></i> </button>
    </div> -->
</div>



