<app-pathComponent [ruta]="ruta"  ></app-pathComponent>

<div class="container width100">
  <div class="borderB white paddingB_22 flex">
    <a routerLink="/formas-pago" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
  <!-- <div class="modulo flex padding_10 marginT_0 verMob">
    <button class="btn-rojo text-align marginB_0" (click)="selectBanco($event, default)">Continuar<i class="right"></i> </button>
  </div> -->
</div>

<div class="container minHeight">
 

  <div class="flex flex-between flex-wrap flex-dir">
    <div class="marginMob width60 order1">
      <div class="modulo sinBack paddingT_0">
        <ul>
          <ng-container *ngFor="let banco of bancos" >
              <li class="pagos" >
                <a class="noLink padding_25" (click)="selectBanco($event, banco.nombre)">
                  <div class="cont-img-pagos">
                    <img class="imgPagos" src="{{banco.img}}" alt="{{banco.nombre}}">
                  </div>
                  <span class="marginT_8"><i class="right gray"> </i></span>
                </a>
              </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <!--================-->
    <!-- Detalle Compra -->
    <!--================-->

    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob ">
        <div class="sticky">
            <div class="marginT_32">
                <div class="detalleCompra">
                    <label for="btn-producto" class="verMob modulo padding_25 borderB">
                        <div class="flex flex-between ">
                            <span>Ver detalles de compra </span>
                            <i class="down"></i>
                        </div>
                    </label>
                    <input type="checkbox" id="btn-producto" hidden> 

                    <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                        <app-detalleCompra #detalle></app-detalleCompra>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- <div class="modulo flex fixed marginB_0 padding_10 verMob">
    <button class="btn-rojo text-align marginB_0" (click)="selectBanco($event, default)">Continuar<i class="right"></i> </button>
  </div> -->
</div>

