@import '~sass/mixines'; 
@import '~sass/variables'; 

.productoCarrito
    max-width: 100px
    max-height: 120px
    margin: 0px 
    border: 1px solid $grisClaro
    padding: 2px
    +bx
    img
        margin-top: 10px
        max-width: 80px
        max-height: 100px
        background-size: contain

//-captcha
.captcha
	width: 100%
	max-width: 400px
