<div *ngIf="isLoad" [hidden]="hidden" class="marginT_0 width100">
  <!-- Header de Mailing -->
  <!--app-ty-header></app-ty-header>
  <!-- /Header de Mailing -->
  <div class= "header-thankyou">
      <div class="logo-claro">
        <a href="https://www.claroshop.com/" >
          <img src="assets/logo-cs.svg" alt="Claro shop" class="logoCs">
        </a>
      </div>
  </div>

  <!-- modulo 1 check -->
  <div class="modulo paddingL_0 paddingR_0 sinBack maxWidth600 marginB_15 marginT_19">
    <div class="moduloTP border flex marginT_0 bordeCaja">
      <div class="ico-gracias">
        <img src="assets/icoCheckedb.png" alt="✔">
      </div>
      <!-- Pedido autorizado -->
      <p *ngIf="data?.status_pedido && !data?.isClickRecoge" class="bloque2">
        El pago de tu pedido ha sido autorizado
      </p>

      <!-- Pedido colocado -->
      <p *ngIf="!data?.status_pedido" class="bloque2">
        ¡Hemos recibido tu orden de compra!
        <!--span *ngIf="!isPayu && !isPagoEnTienda && !isDepositoBancario">Iniciamos el proceso de validación.</span-->
      </p>

      <!-- Pedido click y recoge autorizado -->
      <p *ngIf="data?.status_pedido && data?.isClickRecoge" class="bloque2">
        El pago de tu pedido ha sido autorizado
      </p>
    </div>
  </div>
  <!-- /modulo 1 check -->

  <!-- modulo 2 detalle pago -->
  <div class="modulo sinBack maxWidth600 marginT_0 marginB_32 paddingB_0">
    <div class="moduloTP border  marginT_0 marginB_0 bordeCaja">
      <div class="noPedido marginB_20">
        <p class="bloque1 font20">
          ¡Hola <span class="nombre">{{ data?.cliente.Nombre }} </span> !</p>
        <p class="bloque2">Número de pedido:
          <span><a href="{{baseUrl}}mi-cuenta/mis-pedidos/0/formaCompra/{{ data?.pedido?.numPedido }}" class="rojoMasrojo">{{ data?.pedido.numPedido }}</a></span>
        </p>
      </div>

      <!-- Pedido autorizado -->
      <p *ngIf="data?.status_pedido" class="marginB_20">
        ¡Gracias por tu compra!
        <span *ngIf="!data?.isClickRecoge && !data?.isPedidoDigital">
          Te haremos saber cuando tu pedido sea enviado.</span>
        <!-- Click y recoge -->
        <span *ngIf="data?.isClickRecoge">
          Te enviaremos un correo electrónico cuando puedas pasar a recoger tu pedido. .</span>
        <!-- Pedido Digital -->
        <span *ngIf="data?.isPedidoDigital">
          Te enviaremos por correo electrónico los datos de descarga y activación de producto.
          En productos digitales <span class="bold">NO</span> aplican cambios y/o devoluciones.</span>
      </p>

      <!-- Pedido colocado -->
      <p *ngIf="!data?.status_pedido" class="marginB_20">
        Gracias por elegir tus productos con nosotros,
        <!-- Tarjetas Credito Debito o Tarjetas Tarjeta Departamental -->
        <span *ngIf="!data?.isClickRecoge && (isDebitoCredito || isTarjetaDepartamental || isTelmex)">
            te enviaremos un correo electrónico con la confirmación de pago. Es importante que consideres lo siguiente:</span>
        <!-- Deposito, pago en tienda -->
        <span *ngIf="!data?.isClickRecoge && ( isDepositoBancario || isPagoEnTienda || isOxxo || isSevenEleven)" >
            tan pronto recibamos tu pago te haremos saber que tu pedido está autorizado. Es importante que consideres lo siguiente:</span>
        <!-- Click y recoge y pago en tienda-->
        <span *ngIf="data?.isClickRecoge && isPagoEnTienda">
          te enviaremos un mail confirmando cuando puedas pasar a recoger y pagar tu pedido.
          </span>
        <!-- Click y recoge colocado-->
        <span *ngIf="data?.isClickRecoge && !isPagoEnTienda">
            te enviaremos un correo electrónico con la confirmación de pago y cuando puedas pasar a recoger tu pedido.
            Es importante que consideres lo siguiente:</span>
      </p>

      <!-- Telmex -->
      <div *ngIf="isTelmex" >
        <!-- Pedico colocado -->
        <div *ngIf="data?.status_pedido" class="flex marginB_20 marginT_20">
            <p>Recibirás un correo con la información del estatus de tu pedido.
        </div>
        <!-- Pedico colocado -->
        <div *ngIf="!data?.status_pedido" class="flex marginB_20 marginT_20">
          <div class="ico-page">
            <img src="assets/telephone.png" alt="☎">
          </div>
          <div>
            <p>Es posible que nos pongamos en contacto contigo para hacer una
              validación telefónica a tu línea Telmex y podríamos llegar a
              solicitarte una identificación oficial y copia de tu recibo de los
              últimos 3 meses, o bien, te puedes comunicar al <span class="bold">55 9179-33-50</span>
              en un horario de <span class="bold">8 a 21 hrs</span> de lunes a viernes y sábados y
              domingos de <span class="bold">8 a 16 hrs</span> para confirmar el pedido realizado con
              cargo a tu recibo Telmex.
          </div>
        </div>
        <!-- Recordatorio Telmex Pedido colocado y Autorizado -->
        <div class="flex marginB_20">
          <div class="ico-page">
            <img src="assets/Page.png" alt="❑">
          </div>
          <div>
            <p>Recuerda que las compras con cargo a tu recibo Telmex tienen un
              costo adicional por financiamiento que puedes ver en el detalle
              de compra.</p>
          </div>
        </div>
        <!-- Pedido Autorizado -->
        <div *ngIf="data?.status_pedido" class="flex marginB_20">
          <div class="ico-page">
            <img src="assets/Page.png" alt="❑">
          </div>
          <div>
            <p>Las mensualidades se cargaran en tu recibo Telmex.</p>
          </div>
        </div>
      </div>
      <!-- /Telmex -->

      <!-- Recordatorio PayU, Depósito, Pago en Tienda -->
      <div *ngIf="isPayu || isDepositoBancario || isPagoEnTienda"  class="flex marginB_20">
        <div class="ico-page">
          <img src="assets/reloj.svg" alt="❑">
        </div>
        <div>
          <p>
            <span *ngIf="isPagoEnTienda || isSevenEleven || isDepositoBancario">
              Recuerda que sólo tienes {{ data?.fechaExpira }} días hábiles para realizar tu pago en la</span>
            <span *ngIf="isPagoEnTienda || isSevenEleven">
              tienda</span>
            <span *ngIf="isDepositoBancario">
              cuenta</span>
            <span *ngIf="isPagoEnTienda || isSevenEleven || isDepositoBancario">
              que has seleccionado.</span>
            <span *ngIf="isSevenEleven">
              Recibirás un correo de <span class="bold">PayU</span> con la información para realizar tu pago.</span>
            <span *ngIf="isOxxo">Recuerda que sólo tienes {{ data?.fechaExpira }} días hábiles para realizar tu pago.
              Usa el número de referencia para pagar en tu tienda OXXO más cercana, indicando que es un pago de OXXOPay.</span>
          </p>
        </div>
      </div>

      <!-- Pedido Colocado -->
      <div *ngIf="!data?.status_pedido" >
        <!-- Tarjetas Bancarias -->
        <div *ngIf="isDebitoCredito" class="flex marginB_20">
          <div class="ico-page">
            <img src="assets/telephone.png" alt="☎">
          </div>
          <div>
            <p>Es posible que nos pongamos en contacto contigo para la
              validación del pago, el número de autorización que te proporcionó
              tu banco es el número de pre-aprobación de tu compra.</p>
          </div>
        </div>
        <!-- Tarjetas Departamentales -->
        <div *ngIf="isTarjetaDepartamental"  class="flex marginB_20">
          <div class="ico-page">
            <img src="assets/telephone.png" alt="☎">
          </div>
          <div>
            <p>Es posible que nos pongamos en contacto contigo para la
              validación del pago.</p>
          </div>
        </div>
      </div>

      <div class="marginB_32">
        <p>Asegúrate de revisar la bandeja de correo no deseado.</p>
      </div>

      <!--Enviado a-->
      <div *ngIf="!data?.isPedidoDigital && !data?.isClickRecoge">
        <div class="marginB_32">
          <p class="bloque2">Tu pedido será enviado a:</p>
          <p>{{ data?.direccion?.entregar }}</p>
          <p>{{ data?.direccion?.direccion }} {{ data?.direccion?.numeroExterior}} {{ data?.direccion?.numeroInterior}}, {{ data?.direccion?.colonia}}, C.P. {{ data?.direccion?.cp}}</p>
          <p>{{ data?.direccion?.ciudad }}, Tel. {{ data?.direccion?.celular }}</p>
        </div>
        <!--div *ngIf="data?.isClickRecoge" class="marginB_32">
          <p  class="bloque2">Método de Entrega: Click y recoge.</p>
          <p>{{ data?.sucursal.nombre_tienda }} {{ data?.sucursal.nombre }}</p>
          <p>{{ data?.sucursal.direccion }}</p>
        </div-->
      </div>
      <!--/Eviado a-->

      <!--Articulos Comprados-->
      <div class="marginB_32">
        <p class="bloque2">Productos comprados</p>
        <p class="marginB_20"> Pedido realizado el {{ data?.fechaPedido }}</p>
      </div>
      <div>
        <div *ngFor="let producto of data?.productos; let i = index" [attr.data-index]="i" class="flex flex-wrap flex-between flex-start marginB_20" >
          <div class="articulosImg">
            <div class=" cont-img">
              <img src="{{ producto.foto }}" alt="{{ producto.nombreProducto }}">
            </div>
          </div>
          <div class="articulosDesc">
            <p class="rojoMasrojo">{{ producto.nombreProducto }}</p>
            <!--
            <dl *ngIf="!data?.isClickRecoge && producto.tiempoEntrega != false" class="entrega flex flex-wrap">
                <dt class="desc">Tiempo Estimado de entrega: </dt>
                <dd class="desc">{{producto.tiempoEntrega}}</dd>
            </dl>
            -->
            <p>Cantidad:<span>1</span></p>
            <p>Vendido por:
              <span>{{ producto.tienda }}</span>
            </p>
            <p class="bloque2">Precio final:
              <span class="bloque2">${{ producto.precio | number:'1.2-2' }}</span>
            </p>

            <!--div *ngIf="!data?.isClickRecoge && !data?.isPedidoDigital" class="marginB_20">
              <p class="bloque2">Entrega estimada: <span> {{data?.fechaEstimada[producto.idProducto].fechaEstimada }} </span></p>
              <div *ngIf="data?.fechaEstimada[producto.idProducto].status">
                <p *ngIf="!data?.status_pedido && (isDebitoCredito || isTarjetaDepartamental || isTelmex)">
                  *Si tu pago es autorizado el día de hoy</p>
                <p *ngIf="isPagoEnTienda || isSevenEleven || isDepositoBancario || isOxxo">
                  *Si tu pedido es pagado y validado el día de hoy</p>
              </div>
            </div-->

          </div>
        </div>
        <!-- /Articulos comprados -->

        <!-- Forma de pago -->
        <p class="marginB_20 bloque2">Pago con:</p>
        <div class="formaPago">
          <div class="pago1">
            <div class="width100 descripPago">
              <div class="ico-pago">
                <img *ngIf="isTelmex"
                     src="assets/T-telmex.jpg"    alt="Telmex">
                <img *ngIf="isTransfer"
                     src="assets/T-transfer.jpg"  alt="Transfer">
                <img *ngIf="isPaypal"
                     src="assets/T-paypal.jpg"    alt="PayPal">
                <img *ngIf="isSears"
                     src="assets/T-sears.jpg"     alt="Sears">
                <img *ngIf="isSanborns"
                     src="assets/T-sanborns.jpg"  alt="Sanborns">
                <img *ngIf="isOxxo"
                     src="assets/T-oxxo.jpg"      alt="Oxxo">
                <img *ngIf="isSevenEleven"
                     src="assets/T-seven.jpg"     alt="Seven Eleven">
                <img *ngIf="isDepositoBancario"
                     src="assets/T-{{ data?.bancoData?.nombre | lowercase }}.jpg" alt="{{ data?.bancoData?.nombre }}">
                <img *ngIf="isDebitoCredito"
                     src="assets/T-{{ data?.tarjetaTipo       | lowercase }}.jpg" alt="{{ data?.tarjetaTipo }}">
                <img *ngIf="isTarjetaDepartamental"
                     src="assets/T-t-{{ data?.tarjetaTipo     | lowercase }}.png" alt="{{ data?.tarjetaTipo }}">
                <img *ngIf="isMonedero"
                     src="assets/T-monedero.jpg"  alt="Monedero Claro shop">
              </div>
              <div class="marginL_10 marginB_10">
                <p class="bloque2">{{ data?.tyNombreFormaPago }}</p>
                <p *ngIf="(isTelmex || isDebitoCredito) && data?.meses?.plazo > 1"
                   class="text-azul">{{data?.meses?.plazo}} Pagos de ${{data?.meses?.montomensual | number:'1.2-2'}}</p>
                <p  *ngIf="isDebitoCredito ||
                       isTarjetaDepartamental" class="text-azul">
                  Terminada en {{data?.tarjetaDigitos}}
                </p>

              </div>
            </div>
            <app-especificacionFormaPago [data]="data" *ngIf="isDepositoBancario" ></app-especificacionFormaPago>
          </div>
          <!--p *ngIf="isPayu" class="text-azul" > Número de pago: {{ data?.codigoBarras }} </p>
          <p *ngIf="isPayu" class="text-azul" > Ref {{ data?.pedido?.id }}</p-->
          <!-- tabla de desglose -->
          <div class="desglose">
            <div class="width70">
              <div class="tabla">
                <p>Subtotal</p>
                <p>$ {{ data?.pedido?.subtotal | number:'1.2-2' }}</p>
              </div>
              <div class="tabla zebra">
                <p>Envío</p>
                <p>$ {{ (data?.pedido?.totalEnvio > 0 ? data?.pedido?.totalEnvio : 0) | number:'1.2-2' }}</p>
              </div>
              <div class="tabla">
                <p class="bloque2">Total</p>
                <p class="bloque2">$ {{ data?.pedido?.total | number:'1.2-2' }}</p>
              </div>
            </div>
          </div>
          <!-- /tabla de desglose -->
        </div>
        <p *ngIf="isDepositoBancario" class="t">Envía copia de tu comprobante de pago a la dirección de correo
          <span class="bold">deposito&#64;claroshop.com</span>
        </p>
        <div *ngIf="isPagoEnTienda && !data?.isClickRecoge" class="secCodigob marginT_32">
          <div>
            <img class="marginB_25 codigoBarras" src="https://www.claroshop.com/barcodeGen.php?code={{ data?.codigoBarras }}">
            <p class="marginB_25 noCodigo marginL_20">{{ data?.codigoBarras }}</p>
          </div>
        </div>
        <div class="modulo flex marginB_0 padding_10 center">
          <a class="btn-rojo text-align marginB_0" href="/">
            Seguir comprando
          </a>
        </div>
      </div>
      <!--p *ngIf="isSevenEleven"> <span class="bold">Nota:</span> Si no puedes visualizar la información, recuerda que recibirás un correo electrónico por parte de <span class="bold">PayU</span></p-->
    </div>
    <!-- iframe payU -->
    <app-thanckyou-payu   [data]="data" *ngIf="isSevenEleven"></app-thanckyou-payu>
    <!-- iframe Conekta -->
    <app-thanckyou-conekta   [data]="data" *ngIf="isOxxo"></app-thanckyou-conekta>

    <!-- Gracias por el pago -->
    <div class="maxWidth600 paddingT_16 marginB_20 paddingMob">
      <p class="bloque2 text-align">Gracias por tu preferencia</p>
      <p class="rojoMasrojo text-align">Claroshop.com</p>
      <p class="rojoMasrojo text-align">Una tienda para todos</p>
    </div>
    <!-- /Gracias por el pago -->

    <!-- EMARSYS -->
    <app-emarsys #emarsysComponent [emarsys]="emarsys"></app-emarsys>

    <!-- Aclaración y dudas -->
    <div class="maxWidth600 marginT_32 paddingMob">
      <p class="text-claro flex flex-start flex-wrap bloque2 noDecoration marginB_32">
        <span class="text-claro marginR_5">Centro de atención a clientes Claroshop</span> 01800 890 6566
        <span class="text-claro marginR_5 marginL_5"> ó </span>
        <a href="mailto:clientes@claroshop.com" >  clientes@claroshop.com  </a>
      </p>
    </div>
    <!-- /Aclaración y dudas -->
  </div>
  <!-- modulo 2 detalle pago -->
  <hr>
  <!-- Pixeles Gabanna, PoderIo, Ceativecdn -->
  <app-pixel
          *ngIf="data?.formaPago?.id > 0" [pixelData] = "pixelData" [google]="google">
  </app-pixel>
  <!-- Pixeles Facebook -->
  <app-facebook-pixel
          *ngIf="data?.formaPago?.id > 0" [fbPixel]   = "fbPixel">
  </app-facebook-pixel>
  <!-- Footer -->
  <app-ty-footer></app-ty-footer>
  <!-- Footer -->
</div>
