<div class="flex flex-between">
  <div>
    <h3 class="bold paddingT_0">Pago con cargo a tu recibo Telmex.</h3>
    <div class="paddingT_0 width100" [ngSwitch]="multipedido.formaDePago">
      <img src="assets/logo-telmex.svg"  alt="Telmex"> 
      <p>{{multipedido.formaDePago}}</p>
      <p *ngIf="mensualidad > 1" >{{mensualidad}} meses</p>
    </div>
  </div>
  <div *ngIf="showEdit" class="w50 flex flex-end">
    <div class="table paddingL paddingR_0">
      <button routerLink="/formas-pago/guardadas" class="btn-blanco verDesk">Editar</button>
      <a routerLink="/formas-pago/guardadas" class="verMob positionR"><span><i class="positionA top_20 right gray"> </i></span></a>
    </div>
  </div>
</div>