@import '~sass/mixines'; 
@import '~sass/variables'; 
@import '~sass/reset'; 
@import '~sass/fonts'; 
@import '~sass/hacks'; 
+iphone5
    .iframePayu
        width: 260px
        // height: 1100px
+safari6_7
    .iframePayu
        width: 260px
+iphone6
    .iframePayu
        width: 300px