<!doctype html>
<html lang="en">
<head>
  <title>Caja</title>
  <!-- <base href="/Caja/"> -->
  <base href="./">
  <meta charset="utf-8">
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/assets/font-awesome.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Emarsys web -->
  <script type="text/html" id="RelacionadoNav_nuevo" >
    <![CDATA[
        {{ for (var i=0; i < SC.page.products.length ; i++) { }}
          {{ var p = SC.page.products[i]; }}
            <ui-carousel-item class="flex whidt30">
              <div class="center marginAuto item-e">
                  <img src="{{=p.imagen}}" class="imgEmarsys" alt="{{=p.title}}">
              </div>
              <p class="text">{{=p.title}}</p>
            </ui-carousel-item>
        {{ } }}
    ]]>
  </script>
  <!-- End Emarsys web -->
</head>
<body>
  <app-root></app-root>
</body>
</html>
