/* You can add global styles to this file, and also import other style files */
@import '~sass/mixines';
@import '~sass/variables';
@import '~sass/reset';
@import '~sass/fonts';
@import '~sass/hacks';


//- Estilos Generales
body,html
	font-size: $fontSize
	font-family: $fontPrin2

h1
	+bx
	padding: 8px 8px 16px
	display: table
	width: 100%
	font-size: 2rem
	font-weight: 400
h2
	+bx
	font-size: 20px
	padding: 8px 0px 8px 0px
	+mediaMax480
		font-size: 15px
		&.text-align
			margin: 3px auto !important


h3
	+bx
	font-size: 18px
	padding: 8px 0px 8px 0px
	line-height: 23px

.show
	display: block !important

.cont-btn
	+bx
	+flex
	+flexDir(row)
	+justifyCont(space-between)
	width: 100%
	padding: 16px 0

.container,
%container
	width: 95%
	max-width: 100%
	margin: auto
	+mediaMax960
		width: 100%


//-modulos
.modulo
	margin: 16px auto
	width: 100%
	background-color: white
	padding: 29px
	+bx
	&:first-child
		padding: $spacer
	&.sinBack
		background: $trans
	&.marginBottom
		margin-bottom: 50px !important
	&.modConfirmacion
		padding: 16px 32px
		margin-top: 0px
		margin-bottom: 0px

	+mediaMax960
		// margin-top: 10px !important
		&:first-child
			padding: $spacer
		// &.sinBack
		// 	margin-top: $spacer !important
		.topBtn
			margin-top: 20px

	p
		line-height: 1.5rem
		&.width70
			width: 70% !important


.width100
	width: 100% !important

.widthLogo
	max-width: 98px
	width: 100%
	margin: auto
	margin-right: 0px

.marginT_64
	margin-top: -36px !important
.verDesk
	display: block !important
	+mediaMax960
		display: none !important
.verMob
	display: none !important
	+mediaMax960
		display: block !important
.ocultar
	display: none !important
.none
	+mediaMax480
		display: none

.table
	display: table-column
	+mediaMax480
		display: contents
.w50
	width: 100px
	+mediaMax480
		width: 100px !important
.with70
	width: 70% !important
.width60
	width: calc(100% - 460px)
	.displayMob
		display: none
	+mediaMax960
		width: 100%
		&.order1
			order: 1 !important
		&.order2
			order: 2 !important
		.order1
			order: 1 !important
		.order2
			order: 2 !important
		.displayMob
			display: none !important

.width50
	width: calc(50% - 10px)
	+mediaMax960
		width: 100%

.width50s
	width: calc(50% - 10px)

.width40
	width: 420px
	.displayMob
		display: block
	+mediaMax960
		width: 100%

		.displayMob
			display: none !important
		&.order0
           	order: 0 !important

.cupones
	width: 25%
	margin: $spacer auto
	+flex
	+mediaMax960
		.displayMob
			display: none !important
			&.order0
				order: 0 !important
.sticky
	position: -webkit-sticky
	position: sticky
	top: $spacer
	+mediaMax960
		position: initial
.cont-mas
	width: 100%
	max-width: 400px
	margin: auto
	a
		+justifyCont(Center)
		text-decoration: none
		color: $negro
		padding: 10px
		+bx
.fixed
	position: fixed
	bottom: 0px
	left: 0px

.breadcrumb
	width: calc(100% - 200px)
.breadcrumb
	+bx
	font-size: 14px
	padding: 0 10px
	>ul
		display: table
		ul,
		span,
		strong
			float: left

		> li
			float: left
			margin-right: 5px
			position: relative
			font-weight: 300
			&:after
				color: $gris
				content: " / "
				margin: 0px 2px
			&:last-child
				a
					color: $primario
				&:after
					content: ""
			a
				+aReset
				color: $gris

			&:first-child
				strong
					&:first-of-type
						a
							color: #ACAEAE
					&:last-of-type
						color: $primario
				>ul
					&:after
						color: $gris
						content: " / "
						margin: 0px 2px
					>li
						>a
							color: #ACAEAE
		> ul
			>li
				float: left
				margin-right: 5px
				position: relative
				font-weight: 300
				a
					+aReset
					color: $gris
			&:after
				color: $gris
				content: " / "
				margin: 0px 2px
			&:last-child
				>li
					a
						color: $primario
				&:after
					content: ""

.paginador
	//width: 100%
	width: auto
	display: table
	padding: $min-spacer $min-spacer/2
	margin: auto
	ul
		+flex
		+flexDir(row)
		+alignItem
		+justifyCont(center)
		a
			+aReset
			+fx(all,0.3s)
			color: $primario
			padding: $min-spacer/4 $min-spacer/2
			cursor: pointer
			&.active,
			&:hover
				+fx(all,0.3s)
				color: white
				background: $primario

.wrapper
	min-height: 100vh
	background: #EEE
.minHeight
	min-height: 100vh
	padding-bottom: 60px
	+bx

//-Colores

.white
	background: $blanco
.grisTxt
	color: $gris
.orange
	color: $orange
.verde
	color: $verdeVal
.shadow
	+shadow
.bgVerde
	background-color: $verdeConf
	&.borders
		border-top-left-radius: 5px
		border-top-right-radius: 5px

.hrGris
	border: 0.03rem solid $grisClaro
	display: none
	-webkit-margin-before: 0px
	-webkit-margin-after: 0px
	padding-left: $min-spacer
	padding-right: $min-spacer

//-textos
.predeterminada
	color: $primario
	cursor: pointer
	text-decoration: underline
.noPredeterminada
	color: $gris
	cursor: pointer
	text-decoration: underline
	font-size: 13px
	
.tachado
	text-decoration: line-through
.small
	font-size: 12px
.ligth
	font-weight: 300
.medium
	font-weight: 500 !important
.bold
	font-weight: 700 !important
.text-rojo
	color: $primario
.text-azul
	color: $azul
.text-align
	text-align: center !important
	margin: auto
.text-align-right
	text-align: right !important
.text-align-left
	text-align: left !important
.t
	padding: $min-spacer/2 0
	span
		&.bold
		font-weight: 500


//-validaciones
.dotLine
	border: 2px
	border-style: dashed
	border-color: $grisClaro
	padding: $min-spacer
	margin: auto
	text-align: center
.cont-validacion
	width: fit-content
	margin: auto
	+mediaMax960
		&:before
			content: ''
			background: $blanco
			display: block
			width: 100vw
			height: 100vh
.cont-val
	width: fit-content
	margin: auto
.validacionInfo
	border-radius: 4px
	padding: 5px
	margin: $spacer auto $spacer
	margin: $spacer auto $spacer
	+mediaMax960
		width: 90%
	&.valAzul
		color: $azul
		border: 1px solid $azul
	&.valRojo
		color: $orange
		border: 1px solid $orange
	&.valVerde
		color: $verdeVal
		border: 1px solid $verdeVal
	.linkE
		color: $primario
		text-decoration: underline

.validacion
	border-radius: 4px
	padding: 5px
	margin: $spacer auto $spacer
	margin: $spacer auto $min-spacer
	+mediaMax960
		border-radius: 0px
		margin: 0px
		display: flex
		position: fixed
		width: calc(100vw - 80px)
		height: calc(100vh - 80px)
		outline: 40px solid black
		z-index: 100
		padding: 0
		top: 40px
		left: 40px
		button
			position: absolute
			+center(vh)
			top: 89%
		p
			position: absolute
			color: black
			+center(vh)
			text-align: center
			width: 88%
	+bx
	+flex
	.ico-alert
		&:after
			content: '\f071'
			font-family: 'FontAwesome'
			font-size: 20px
			margin-right: 10px
		+mediaMax960
			position: absolute
			background-image: url('./assets/error.png')
			background-repeat: no-repeat
			background-size: 50%
			background-position: center center
			width: 100%
			height: 50%
			margin-bottom: 10px
			left: calc(50% - 50%)
			object-fit: scale-down
			&:after
				content: ''


	&.valOrange
		color: $orange
		border: 1px solid $orange
		+mediaMax960
			background-color: #F5F5F5
			border: 1px solid black
			position: fixed
			color: black
			&.none
				display: none

//-Margenes
.marginAuto
	margin: auto
.marginB_18
	margin-bottom: 20px !important
.marginR_0
	margin-right: 0px !important
.marginR_3
	margin-right: -3px !important
.margin_0
	margin: 0px !important
.margin_25
	margin: 25px !important
.center
	justify-content: center !important
.centrado
	+center
.marginT_0
	margin-top: 0px !important
.marginT_8
	margin-top: 8px !important
.marginT_10
	margin-top: 10px !important
.marginT_19
	margin-top: 19px !important
.marginT_32
	margin-top: 0px !important
	// margin-top: $spacer !important
.marginB_0
	margin-bottom: 0px !important
.marginB_10
	margin-bottom: 10px !important
.marginB_15
	margin-bottom: 15px !important
.marginL_0
	margin-left: 0px !important
.marginL_40
	margin-left: 40px !important
.marginLeft40
	margin-left: 40px !important
	+mediaMax480
		margin-left: 0px !important
.marginR_22
	width: 85px
	right: 10px
	+mediaMax480
		right: 0px
.marginR_32
	margin-right: 32px !important
.marginR_15
	margin-right: 13px !important
.marginR_0
	margin-right: 0px !important
.marginB_25
	margin-bottom: $min-spacer !important
.marginB_20
	margin-bottom: 20px !important
.marginB_32
	margin-bottom: $spacer !important
.marginLm_5
	margin-left: -5px !important
.marginRm_5
	margin-right: -5px !important
.marginL_10
	margin-left: 10px !important
.padding
	padding: $min-spacer
.padding_0
	padding: 0 !important
.paddingB_0
	padding-bottom: 0 !important
.paddingB_20
	padding-bottom: 20px !important
.paddingB_50
	padding-bottom: 55px !important
.padding_10
	padding: 10px !important
	+bx
.padding_25
	padding: $min-spacer !important
	+bx
.paddingT_25
	padding-top: $min-spacer !important
	+bx
.paddingB_10
	padding-bottom: 10px !important
	+bx
.paddingB_25
	padding-bottom: $min-spacer !important
	+bx
.paddingR_32
	padding-right: $spacer
	+bx
.paddingL_0
	padding-left: 0px !important
.paddingL_40
	padding-left: 40px !important
.paddingL_16
	padding-left: 23px !important
.paddingR_0
	padding-right: 0px !important
.paddingT_0
	padding-top: 0px !important
.paddingT_22
	padding-top: 22px!important
	+bx
.paddingB_22
	padding-bottom: 22px!important
	+bx
.paddingB_32
	padding-bottom: $spacer !important
	+bx
.paddingT_32
	padding-top: $spacer !important
	+bx
.paddingMobB_32
	padding-bottom: $spacer !important
	+bx
	+mediaMax960
		padding-bottom: 0px !important

//-bordes
.border
	border: 1px solid $grisClaro
.borderB
	border-bottom: 1px solid $grisClaro


//-flexbox
.flex
	+flex
	width: 100%
.flex-around
	+justifyCont(space-around)
.flex-end
	+justifyCont(flex-end)
.flex-between
	+justifyCont(space-between)
.flex-wrap
	+flexWrap
.flex-start
	+justifyCont(flex-start)
.align-items
	+alignItem
.flex-dir
	flex-direction: row
	+mediaMax960
		flex-direction: column-reverse
.positionR
	position: relative
.positionA
	position: absolute
.top_20
	top: -20px
	right: -2px
.top_38
	top: -38px
	right: -2px
.top_31
	top: -31px
	right: -2px
.botones
	+mediaMax480
		+flexWrap
//-iconos
.icon-info
	&:before
		content: ""
		border: 1px solid $azul
		padding-top: 4px
		padding-left: 7px
		padding-right: 7px
		border-radius: 50%
		+bx
		height: 30px
		width: 30px
		min-width: 30px
		content: "\f129"
		font-family: "FontAwesome"
		color: $azul
		margin-right: 5px
.star
	&:after
		content: '\f005'
		font-family: 'FontAwesome'
		color: $amarillo
		margin-left: -10px
.starVacia
	&:after
		content: '\f005'
		font-family: 'FontAwesome'
		color: $gris
		margin-left: -10px
.plus
	position: relative
	cursor: pointer
	&:before
		content: ''
		border: 1px solid $primario
		width: 28px
		height: 28px
		border-radius: 50%
		display: block
		position: absolute
		margin-top: -9px
	&:after
		content: '\f067'
		font-family: 'FontAwesome'
		color: black
		margin-top: -2px
		margin-left: 9px
		position: absolute

.back
	position: relative
	+aReset
	&:before
		content: '\f104'
		font-family: 'FontAwesome'
		color: $gris
		position: absolute
		left: $spacer
		top: $min-spacer/2
		font-size: 20px
	&:after
		content: "Regresar"
		position: absolute
		margin-left: 50px
		color: $gris
		margin-top: 10px
		font-size: 15px
		+mediaMax480
			content: ''




//-formularios
.col2
	width: calc(50% - 10px)
	+flexWrap(wrap)
	+mediaMax480
		width: 100% !important

.active
	border-bottom: 3px solid red
	margin-bottom: -3px
	color: $negro

//input radios
.listMeses
	label
		width: 30px
		height: 30px
	&.flex
		width: initial
.option-input
	+appearance
	position: relative
	height: 30px
	width: 30px
	transition: all 0.15s ease-out 0s
	background: $blanco
	border: 1px solid $grisLabel
	color: $blanco
	cursor: pointer
	display: inline-block
	margin-right: 0.5rem
	outline: none
	&:checked
		border: 2px solid $verde
		border-radius: 50%
		width: 30px
		height: 30px
		&:before
			content: ''
			border: solid $verde
			border-width: 0 2px 2px 0
			display: flex
			padding: 4px
			margin-left: 8px
			margin-top: 3px
			width: 0px
			height: 8px
			transform: rotate(45deg)
			position: absolute
	&.radio
		border-radius: 50%
		position: absolute
		right: 0px
	&:after
		border-radius: 50%
.check
	+check

.check2
	border: 2px solid $verde
	border-radius: 50%
	width: 30px
	height: 30px
	display: inline-block
	background-color: white
	&:before
		content: ''
		border: solid $verde
		border-width: 0 2px 2px 0
		display: flex
		padding: 4px
		margin-left: 10px
		margin-top: 5px
		width: 0px
		height: 8px
		transform: rotate(45deg)
	+mediaMax320
		width: 26px
		height: 23px
		&:before
			margin-top: 3px
			margin-left: 6px
			padding: 3px


.options-rojos
	+appearance
	position: relative
	height: 25px
	width: 25px
	transition: all 0.15s ease-out 0s
	background: $blanco
	border: 1px solid $grisLabel
	color: $blanco
	cursor: pointer
	display: inline-block
	margin-right: 0.5rem
	outline: none
	&:checked
		&:before
			content: ''
			background-color: $primario
			margin-left: 3px
			margin-top: 3px
			width: 17px
			height: 17px
			border-radius: 50%
			position: absolute
	&.radioR
		border-radius: 50%
	
.radioRojo 
	color: $primario
	left: 16px
.radioDir
	color: $gris
	padding-top: 10px
	padding-bottom: 10px
	label
		padding: 10px
//input text formularios
.ver
	display: block !important
.form-row
	margin-bottom: 1.5rem
	position: relative
	label
		// +firefox
		// 	margin-bottom: 2rem
		+safari10
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			.informativo
				bottom: 54px
			&.mesLabel
				bottom: 40px
				color: $grisLabel
		+iphone5
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px

		+iphone6
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			

			&.mesLabel
				bottom: 40px
				

		+iphone6Plus
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px

		+ipad
			position: absolute !important
			left: 0px
			top: 17px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px

		+ipad3
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px
		&.error
			border: 1px solid $error
			border-radius: 4px
			// background: rgba($error,0.1)
			font-weight: 500
			+placeholder
				//color: $error
				font-weight: 500
			+ label
				color: $error
				+safari10
					margin-bottom: 31px !important
				+iphone5
					margin-bottom: 31px !important
				+iphone6
					margin-bottom: 5px !important
				+iphone6Plus
					margin-bottom: 6px !important
				+ipad
					margin-bottom: 12px !important
				+ipad3
					margin-bottom: 5px !important

	select
		+appearance
		border-radius: initial
		background: white
		&:-ms-expand
			display: none
		&:disabled
			background: $blanco
			opacity: 0.4
	input[type="text"], select, input[type="password"]
		width: 100%
		font-size: $fontSize
		+bx
		padding: 9px
		border: 1px solid $grisClaro
		border-radius: 4px
		transition: all 0.2s ease-in-out
		outline: 0
		+ label[data-placeholder]
			pointer-events: none
			position: relative
			+firefox
				position: absolute
				left: 0px
				top: 40px
				width: 100%
				&:after
					position: relative
					display: block
			&:after
				content: attr(data-placeholder)
				display: table
				//position: absolute
				margin-left: 3px
				top: 50%
				left: 0.2rem
				transform: translate(0%, -200%)
				transition: all 0.2s ease-in-out
				padding: 0 0.25rem
				background-color: white !important
				+firefox
					transform: translate(0%, -170%)
				+iphone6
					transform: translate(0, -99%)
					background-color: white !important
				+safari9
					transform: translate(0%, -100%)
				+safari10
					transform: translate(0%, -100%)

		&:focus,
		&:valid,
		&:disabled
			border: 1px solid $grisClaro
			+ label[data-placeholder]
				&:after
					transform: translate(-5%, -280%) scale(0.9, 0.9)
					color: $grisLabel
					background-color: white
					+firefox
						translate(-5%, -208%) scale(0.9, 0.9)
					+safari10
						transform: translate(-5%, -27%) scale(0.9, 0.9)
					+safari9
						transform: translate(-5%, -27%) scale(0.9, 0.9)
					+iphone5
						transform: translate(-5%, -210%) scale(0.9, 0.9)
					+iphone6
						transform: translate(-5%, -184%) scale(0.9, 0.9)
					+iphone6Plus
						transform: translate(-5%, -184%) scale(0.9, 0.9)
					+ipad
						transform: translate(-5%, -210%) scale(0.9, 0.9)
					+ipad3
						transform: translate(-5%, -210%) scale(0.9, 0.9)
		&:disabled

			&.error
				+ label[data-placeholder]
					&:after
						color: $error
						+safari10
							margin-bottom: 15px !important
						+iphone5
							margin-bottom: 15px !important
						+iphone6
							margin-bottom: 12px !important
						+iphone6Plus
							margin-bottom: 15px !important
						+ipad
							margin-bottom: 15px !important
						+ipad3
							margin-bottom: 15px !important


		&.error
			border: 1px solid $error
			border-radius: 4px
			// background: rgba($error,0.1)
			font-weight: 500
			+placeholder
				//color: $error
				font-weight: 500
			+ label
				color: $error
				+safari10
					margin-bottom: 15px !important
				+iphone5
					margin-bottom: 15px !important
				+iphone6
					margin-bottom: 0px !important
				+iphone6Plus
					margin-bottom: 15px !important
				+ipad
					margin-bottom: 15px !important
				+ipad3
					margin-bottom: 15px !important

			&:focus,
			&:valid
				color: $error
				+ label[data-placeholder]
					&:after
						color: $error
	span
		font-size: 12px
		padding-top: 5px
		+bx
		&.textError
			color: $error
		&.textInst
			color: $azul
// body
// 	+firefox
// 		display: none

span
	&.select
		position: relative
		width: 100%
		display: table
		> select
			+appearance
			&:-ms-expand
				display: none
			padding-right: 50px!important
		&:after
			+bx
			+fawesome("\f0d7")
			// +center(h)
			top: 5px
			position: absolute
			right: 0px
			font-size: 20px
			border-left: 1px solid $grisClaro
			padding: 9px 15px
			pointer-events: none
		&[class*="g-"]
			&:after
				margin-top: -3px
				margin-right: 5px
	&.error
		font-size: 0.9rem
		color: $primario
		padding-bottom: $min-spacer
		display: none
		&.active
			display: table
	&.form-error
		font-size: 0.9rem
		color: $primario
		padding-bottom: $min-spacer
//mesualidades
.listMeses
    padding: $min-spacer 0px
    +bx
//-botones
.btn-blanco
	+btn($bg: $blanco, $color: $grisLabel, $borde: 1px solid $gris, $ancho: table, $border-radius: 4px)
	min-width: 100px
	border: 1px solid $gris !important
	margin: 0px 15px  10px 0px
	// margin-right: 0px
	// +gradient(180deg, #EAEBF0, #F3F4F6)
	+mediaMax480
		min-width: 48%


.btn-rojo
	+btn($bg:$primario, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
	min-width: 100px
	// +gradient(180deg, #FE3E4B, #E2241C)
	+mediaMax480
		padding: 0.5rem 1rem
		min-width: 100%
	&.sinAccion
		background: $grisClaro !important
		+mediaMax480
			padding: 0.7rem 3rem

.btn-azul
	+btn($bg:#02AA63, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
	+gradient(180deg, #02AA63, #029B51)


.switch
	position: relative
	width: 50px
	input[type="checkbox"]
		opacity: 0 !important
		position: absolute
		&:checked
			+ label
				&:before
					background: $verde
				&:after
					transform: translateX(2em) translateY(-50%)
					background-color: $verde
	label
		background: $grisClaro
		position: relative
		border-radius: 2em
		cursor: pointer
		text-shadow: 0 2px 2px #fff
		&:before
			content: ''
			position: absolute
			top: 50%
			left: .7em
			width: 3em
			height: 1.2em
			border-radius: .6em
			background: #eee
			transform: translateY(-50%)

		&:after
			content: ''
			position: absolute
			top: 50%
			left: 0.5em
			width: 1.4em
			height: 1.4em
			border-radius: 50%
			border: 1px solid $blanco
			border-width: 1px solid
			+bx
			background-color: $grisClaro
			transform: translateY(-50%)
		&:before, &:after
			transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1)


//flecha next
i
	border: solid $blanco
	border-width: 0 1px 1px 0
	display: inline-block
	padding: 4px
	margin-left: 10px

.right
	transform: rotate(-45deg)

.down
	// border: solid black
	// transform: rotate(224deg)
	position: relative
	&:after
		content: '\f078'
		font-family: 'FontAwesome'
		color: black
		font-size: 12px
		// border: 1px solid white
		// top: -1px
		// left: -1px
		// width: 10px
		// height: 10px
		position: absolute

	

.link
    text-decoration: underline
    color: $azul
//caja de pagos
.secInformacion
	margin: 0 auto 25px
	width: 50%
	line-height: 1.3rem

//formas de pago
.noLink
    text-decoration: none
    color: $negro

.pagos
	+bx
	margin-bottom: $min-spacer
	position: relative
	background-color: $blanco
	cursor: pointer
	.cont-img-pagos
		width: 260px
		margin: auto
		padding-right: 10px
		+mediaMax960
			padding: 0 $min-spacer
		.imgPagos
			background-size: contain
			max-width: 180px
			+flex
			margin: auto
			height: 100%
	a
		+flex
		width: 100%
		padding: 5px
		+bx
	.forma-pago
		width: 100%
		+bx
		padding: $min-spacer $min-spacer $min-spacer 0px
		+flex
		+justifyCont(space-between)

	+mediaMax960
		.cont-img-pagos
			max-width: 100px
			background-size: contain
			overflow: hidden
			.imgPagos
				width: 100%


		.forma-pago
			width: 98%
.width200
	width: 200px

.imgError
	width: 250px
	height: 180px
	margin: auto
	display: block

span
	i
		border: solid $gris
		border-width: 0 1px 1px 0
		padding: 8px
		margin-top: -10px
		width: 0px
		height: 0px
		vertical-align: -webkit-baseline-middle

.informativo
	position: relative
	padding-top: 0px
	padding-bottom: 0px
	+safari10
		padding-bottom: 50px
	&:after
		+fawesome('\f06a')
		position: absolute
		color: black
		top: -28px
		right: 10px
	&:hover
		&:before
			content: attr(data-tooltip)
			background-color: lightgray
            text-align: center
			top: 4px
			right: 0px
			width: auto
			padding: 4px
			border-radius: 4px
			position: absolute

// tarjeta rechazada
.tRechazada
	// +flex
	// +flexDir(row)
	// +flexWrap
	// +justifyCont(space-between)
	width: 100%
	margin: 16px auto
	+mediaMax480
		+flexDir(column)
	.width30
		width: calc(33% - 10px)
		padding-bottom: 0
		position: relative
		&.modulo
			margin: 16px 0px
		.bottomAbsolute
			bottom: 20px
		+bx
		+mediaMax1556
			.bottomAbsolute
				bottom: 0px
		+mediaMax1500
			width: calc(49% - 10px) !important
		// +mediaMax1360
		// 	width: calc(100% - 10px) !important
		// 	margin-bottom: $min-spacer
		+mediaMax1311
			width: 100% !important


	.minH_290
		min-height: 300px


//promociones departamentales
.promoDep
	span
		font-size: 15px
		font-weight: 300
//fix- tarjetas departamentales
.jp-card-container
	z-index: 0 !important
	+iphone5
		height: 175px !important
	+mediaMax320
		height: 185px !important
.jp-card
	+iphone5
		min-width: 260px !important
	+mediaMax320
		min-width: 250px !important
	+mediaMax400
		min-width: 288px !important
	.jp-card-front
		.jp-card-lower
			.jp-card-number
				font-size: 16px !important
			.jp-card-name
				+mediaMax400
					font-size: 16px !important
					width: 164px
				+mediaMax320
					font-size: 12px !important

	&.jp-card-sears
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #f22424
			.jp-card-back
				&:before
					background: #f22424
			.jp-card-logo
				&.jp-card-sears
					opacity: 1
					color: $blanco
					background-image: url("assets/logo-sears-bco.svg")
					background-repeat: no-repeat
					background-size: contain
					overflow: hidden
.jp-card
	&.jp-card-amex
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #03af9e
			.jp-card-back
				&:before
					background: #03af9e
.jp-card
	&.jp-card-visa
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #021fdd
			.jp-card-back
				&:before
					background: #021fdd
.jp-card
	&.jp-card-mastercard
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #1e799e
			.jp-card-back
				&:before
					background: #1e799e

.jp-card
	&.jp-card-sanborns
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #cc0505
			.jp-card-back
				&:before
					background: #cc0505
			.jp-card-logo
				&.jp-card-sanborns
					opacity: 1
					color: $blanco
					background-image: url("assets/logo-sanborns-bco.svg")
					background-repeat: no-repeat
					background-size: contain
					overflow: hidden

.jp-card
	&.jp-card-discover
		&.jp-card-identified
			.jp-card-logo
				&.jp-card-discover
					background: #ff660f
					color: #111
					text-transform: uppercase
					font-sytle: normal
					font-weight: bold
					font-size: 10px
					text-align: center
					overflow: hidden
					z-index: 1
					padding-top: 9px
					letter-spacin: 0.3em
					border: 1px solid #eee
.emars
  +mediaMax480
    padding: 10px !important
\:host
	display: block
	width: 100%

ui-carousel
	display: flex
	margin: 0 auto
	background: white
	+mediaMax480
		margin: 20px
.ui-carousel-item
	user-select: none
	-moz-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	-o-user-select: none
	-ms-user-select: none
	//position: relative !important
	display: flex
	flex-wrap: wrap
	flex-direction: column
	border: 1px solid lightgray
	justify-content: center
	background: white !important
	//width: 300px
	width: 200px !important
	overflow: hidden
	border-bottom: 1px solid lightgray
	a
		text-decoration: none
	.texto
		max-height: 40px
		padding: 0 10px
		+bx
		overflow: hidden !important
		margin-bottom: 10px
	// .maxHeight
	// 	max-height: 47px
	// 	overflow: hidden !important
.imgEmarsys
	width: 100%
	height: 200px
	object-fit: scale-down
	img
		object-fit: scale-down
		height: 200px
		width: 200px
		margin: 10px !important
.item-e
	width: 200px
	height: 200px
	object-fit: scale-down

.arrow
	position: absolute
	height: 50px
	width: 30px
	opacity: .6
	user-select: none
	-moz-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	-o-user-select: none
	z-index: 0
	background-color: black
	border-radius: 4px
ng-content
	display: flex
.button
	user-select: none
	height: 35px
	width: 120px
	line-height: 35px
	color: gray
	background: #fff
	text-align: center
	border-radius: 2px
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
	position: absolute
	z-index: 5
	left: 50%
	bottom: 50px
	transform: translateX(-50%)
	-webkit-transform: translateX(-50%)
	-moz-transform: translateX(-50%)
	-o-transform: translateX(-50%)
	-ms-transform: translateX(-50%)
	transition: all .3s
	-webkit-transition: all .3s
	-moz-transition: all .3s
	-o-transition: all .3s
	-ms-transition: all .3s
	&:hover
		cursor: pointer
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3)
	img
		height: 15px
		margin: 10px 5px
		margin-right: 15px
		float: right
		opacity: 0.7
.ui-carousel-item
	&[_ngcontent-c7],&[_ngcontent-c15]
		width: 290px !important

.detalleCompra
	display: block
	label
		&:hover
			cursor: pointer
#btn-producto
	+mediaMax960
		&:checked
			+ .productList
				display: block !important
				margin-top: -33px

.productList
	display: block
	+mediaMax960
		display: none

.header-thankyou
	width: 100%
	+flex
	+justifyCont(center)
	background: white
	position: absolute
	top: 0px
	z-index: 100
	.logo-claro
		padding: $min-spacer
        margin: auto
        text-align: center
		.logoCs
            width: 200px
            margin: auto

.verdeMonedero
	color: #5AC200

.left0
	margin-left: 0px
.width57
	width: 57%
	+mediaMax480
		width: 100%


.fontSize_plus
	font-size: 1.3em!important
	
.fontSize_min
	font-size: 0.7em!important

.init
	min-width: initial !important