<app-pathComponent [ruta]="ruta"  ></app-pathComponent>
<div class="container width100">
    <div class="flex borderB white paddingB_22 ">
        <a routerLink="/formas-pago/telmex" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
</div>

<div *ngIf="message" class="container width100">
    <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
        <span class="ico-alert"></span>
        <p>{{ message }} <span class="bold"></span></p>
        <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
    </div>
</div>

<div class="container minHeight">
    <div class="flex flex-between flex-wrap flex-dir">
        <div class="width60 order1">
            <div class="modulo">
                <div class="flex flex-end">
                    <p class="small grisTxt paddingB_22">*Campos obligatorios</p>
                </div>
                <div class="form-row">
                    <input [(ngModel)]="direccion.telefono" type="text" [ngClass]="{'error': rules.telefono.error }" on-focusout="validateForm('telefono')" minlength="1" maxlength="10">
                    <label data-placeholder="*Teléfono" alt="Label"></label>
                    <span class="textError" *ngIf="rules.telefono.error">Teléfono a 10 dígitos (LADA y número)</span>
                </div>
                <div class="form-row">
                    <input [(ngModel)]="direccion.contrasena" type="password" [ngClass]="{'error': rules.contrasena.error }" on-focusout="validateForm('contrasena')" minlength="1" maxlength="20">
                    <label data-placeholder="*Contraseña Mi Telmex" alt="Label"></label>
                    <span class="textError" *ngIf="rules.contrasena.error">Contraseña Mi Telmex obligatoria</span>
                </div>
                <div class="cont-btn flex-wrap">
                    <button class="btn-blanco width50 order2 marginR_0" (click)="goPassTelmex('https://mitelmex.telmex.com/web/hogar/recupera')">Olvidé mi contraseña</button>
                    <button class="btn-rojo text-align width50 order1" (click)="login()">Validar <i class="right"></i></button>
                </div>

            </div>
        </div>
        
        <!-- modulo1 detalle compra-->
        <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden> 

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

