@import '~sass/variables'; 
@import '~sass/mixines';
.item-tienda
    border: 1px solid $grisClaro
    padding: $min-spacer
    +bx
    margin-bottom: $min-spacer
    cursor: pointer
    
.marginL_10
    margin-left: 10px