<app-pathComponent [ruta]="ruta" ></app-pathComponent>
<div class="container width100">
  <div class="borderB white paddingB_22 flex">
    <a href="{{url}}" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
  <div class=" modulo flex padding_10 marginT_0 verMob">
    <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
  </div>
</div>

<div *ngIf="error" class="container width100 verDesk">
  <div class="cont-validacion validacion valOrange marginB_0">
      <span class="ico-alert"></span>
      <p>{{ error }} <span class="bold"></span></p>
  </div>
</div>

<div class="container minHeight">
  <div class="flex flex-around flex-wrap flex-dir">
    <div class="marginMob width60">
      <div class="modulo">
        <div class="flex">
          <img src="assets/clickRecoge.svg" alt="Click y recoge">
          <h2 class="marginL_10">Recoger en tienda {{sucursal.tienda}}</h2>
        </div>
        <div class="marginT_32">
            <div class="flex flex-between marginB_25 positionR">
              <div *ngIf="sucursal">
                <h3 class="bold">{{sucursal.tienda}} {{sucursal.nombre}}</h3>
                <p class="width70 paddingB_10">{{sucursal.direccion}}</p>
                <p class="marginT_10">{{sucursal.horario}}</p>
                <p>({{sucursal.lada}}) {{sucursal.telefono}}</p>
              </div>
              <input type="radio" class="option-input marginR_3 radio" name="meses" [checked]="!show" (change)="show =! show"/>
            </div>
            <div class="flex flex-between marginB_25 positionR">
              <p class="bold width70 paddingB_10">Cambiar tienda</p>
              <input type="radio" class="option-input marginR_3 radio" name="meses" [checked]="show" (change)="showSucursales()"/>
            </div>
          </div>
        <div *ngIf="show" >
          <div class="form-row marginT_32">
              <p>Buscar por nombre de sucursal</p>
              <span class="select">
                <select [(ngModel)]="selected" name="colonia" on-change="findSucursal()">
                  <option value="0">Ver todas las tiendas</option>
                  <option *ngFor="let item of sucursales" [value]="item.id">{{item.tienda}} {{item.nombre}}</option>
                </select> 
              </span>
            </div>
            <div class="marginT_32">
                <p class="marginB_10">Selecciona tu tienda</p>
                <ul>
                  <li *ngFor="let item of list" class="item-tienda" (click)="changeSucursal(item.id)">
                    <h4 class="bold">{{item.tienda}} {{item.nombre}}</h4>
                    <p>{{item.direccion}}</p>
                    <p class="marginT_10">{{item.horario}}</p>
                    <p>({{item.lada}}) {{item.telefono}}</p>
                  </li>
                </ul>
            </div>
        </div>
        <div class="cont-btn marginT_32">
          <button class="btn-rojo text-align width50" (click)="save()">Continuar<i class="right"></i></button>
        </div>
      </div>
    </div>
    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob ">
      <div class=" sticky">
        <div class="modulo verDesk padding32 paddingB_0 paddingT_0">
          <app-detalleCompra class="verDesk"></app-detalleCompra>
        </div>
      </div>
    </div>
  </div>
  <div class=" modulo flex fixed marginB_0 padding_10 verMob">
    <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
  </div>
</div>