@import '~sass/mixines';
@import '~sass/variables';
@import '~sass/reset';
@import '~sass/fonts';
@import '~sass/hacks';

$primario: #E2231A
$azul: #1f97af
$fontPrin2: 'Muli', helvetica, sans-serif
=mediaMax480
  @media only screen and (max-width: 480px)
    @content
p
  font-size: 16px
  color: #535353
  font-weight: 500
  text-align: left
  line-height: 20px
  font-family: $fontPrin2
  &.bloque1
    font-size: 18px
    font-weight: 700
  &.bloque2
    font-size: 16px
    font-weight: 700
  .nombre
    font-size: 18px
    font-weight: 700
    color: $primario
  .text-claro
    color: #b0b0b0
.maxWidth600
  max-width: 750px
  width: 100%
  margin: auto
.align-right
  text-align: right

.ico-gracias
  width: 50px
  margin-right: 20px
  +mediaMax480
    width: 100px
    height: 100px
  img
    width: 100%

.text-rojo
  color: $primario
.text-azul
  color: #5c9be3
  a
    color: #5c9be3
.link
  a
    color: $azul !important
    cursor: pointer
.noDecoration
  p
    color: #b0b0b0
  a
    color: $azul !important
    text-decoration: none
    font-weight: 500

.bordeCaja
  border: 1px solid #ddd !important
.btn-rojo
  +btn($bg:$primario, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
  min-width: 100px
  +mediaMax480
    padding: 0.7rem 3rem
      margin-top: 20px
.marginT_20
  margin-top: 20px !important
.marginB_20
  margin-bottom: 20px !important
.marginR_10
  margin-right: 10px
  +mediaMax480
    margin: auto
.marginL_10
  margin-left: 10px
  +mediaMax480
    margin: auto
.marginR_5
  margin-right: 5px !important
.marginL_5
  margin-left: 5px !important
.marginR_0
  margin-right: 0px !important
.marginL_0
  margin-left: 0px !important
.zebra
  background: #fafafa
  &:nth-child(odd)
    background: #fafafa


.pedido
  margin: 0px auto
  text-align: center

.tabla
  +flex
  +flexWrap
  +justifyCont(space-between)
  border-bottom: 1px solid #ddd
  border-top: 1px solid #ddd
  padding: 10px 0px

.center
  margin: 0px auto

.modulo
  &.backGris
    background-color: #f2f2f2
  &.backNegro
    background-color: #222222
    a
      color: white
.padding
  padding: $min-spacer
.paddingT_10
  padding-top: 10px
.paddingT_16
  padding-top: $min-spacer
h3
  font-size: 20px
  color: #b0b0b0
.cont-img
  width: 130px
  max-height: 130px
  max-width: 100%
  border: 1px solid #ddd
  border-radius: 7px
  img
    width: 100%
.cont-carousel
  +flex
  justify-content: space-between
.width50
  width: 50%
  +mediaMax480
    width: 100%
    .btn-rojo
      margin-top: 10px
.width30
  width: 30%
  background-color: white
  border: 1px solid #ddd
  margin: 10px
  +mediaMax480
    width: 80%
  p
    padding: $min-spacer
    margin: auto
    text-align: center
.cont-img2
  max-width: 100%
  margin: auto
  text-align: center
  img
    width: 100%
    max-width: 200px

.articulosImg
  width: 170px
.articulosDesc
  width: calc(100% - 306px)
  +mediaMax480
    width: 50%
.articulosPrecio
  width: 120px
  p
    text-align: right

.footer-logo
  width: 200px
.headerMail
  a
    margin: 10px
    color: $azul


+mediaMax480
  .paddingMob
    padding: 10px
    box-sizing: border-box
  .marginAuto
    margin: 0px auto
    justify-content: center
  .btn-ped
    margin-top: 10px !important
