<div *ngIf="error" class="load" (click)="hide()">
    <div class="cont-error width60">
       <img class="imgError"src="./assets/error.png" alt="Error" >
        <div class="mensajeError">
            <p class="txtError">Lo sentimos, algo salió mal.</p>
            <p ><span>{{message}}</span> </p>
            <button class="btn-rojo marginT_10">Aceptar</button>
        </div>
    </div>
</div>