@import '~sass/mixines'; 
.load
	display: flex
	padding: 0

	margin: auto
	top: 0
	position: fixed
	left: 0
	z-index: 10
	width: 100vw
	height: 100vh
	&:after
		content: ''
		background: rgba(0,0,0,1)
		display: block
		width: 100vw
		height: 100vh
	.cont-error
		background-color: #fafafa
		+center(vh)
		position: absolute
		width: 263px
		height: 400px
		padding: 35px
		img
			width: 100%
			height: 50%
			// left: calc(50% - 50%)
			object-fit: scale-down
			// +center(vh)
		.mensajeError
			margin: auto
			padding: 20px
			+bx
			text-align: center
			
			p
				margin: 10px
			button
				margin: auto
				text-align: center