@import '~sass/mixines';
@import '~sass/variables';

.container
    width: 100%
.header-caja
    .logo-cs
        padding: $min-spacer
        margin: auto
        text-align: center
        .logo
            width: 200px
            margin: auto