<div class="secInformacion" style="background-color: #FFF; border: 0px;">
  <h3><span class="marginT_32 bold text-rojo">IMPORTANTE:</span></h3>
  <ul *ngIf="data?.isClickRecoge" >
    <li>Te enviaremos un correo para que recojas tu pedido.</li>
    <li>Tendrás 72 horas naturales para ir por él.</li>
    <li>Recuerda que al momento de recibir los artículos, se solicitará una identificación oficial.</li>
  </ul>
  <ul *ngIf="!data?.isClickRecoge">
    <li>En caso de ser necesario se hará una llamada de validación.</li>
  </ul>
</div>
